@import "plugins/*";
@import "bourbon";
@import "globals/*";
@import "objects/*";
@import "partials/*";
@import "widgets/*";

/* Pattern Library Homepage CSS */

body {
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: $a-desktop-base-color;
}

a {
  text-decoration: none;
}

a:visited {
  color: #333;
}

.grid {
  max-width: 1500px;
  margin: 0 auto;
  overflow: hidden;
}

.jumbotron {
  border-bottom: 1px solid #eaeaea;
  min-height: 400px;
}

.header--big {
  padding-top: 160px;

  font-family: "Open Sans", Arial;
  font-size: 34px;
  font-weight: 300;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;

  background: 0 0;
  background: -webkit-linear-gradient(-45deg, #1D2B64 0, #F8CDDA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}