@import "plugins/*";
@import "bourbon";
@import "globals/*";
@import "objects/*";
@import "widgets/*";

/* Pattern Library Homepage CSS */

body {
  -webkit-font-smoothing: antialiased;
}

.grid {
  max-width: 1500px;
  min-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.jumbotron {
  border-bottom: 1px solid #eaeaea;
  min-height: 400px;
}

.header--big {
  padding-top: 160px;

  font-family: "Open Sans", Arial;
  font-size: 34px;
  font-weight: 300;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;

  background: 0 0;
  background: -webkit-linear-gradient(-45deg, #24C6DC 0, #514A9D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}