<div class="tabbed-list__dropdown-wrapper">
  <ul class="tabbed-list__dropdown">
    <li class="tabbed-list__dropdown-target">
      <span class="tabbed-list__dropdown-target--gray-text">Sort by</span> Best Match <i class="tabbed-list-dropdown-caret--top"></i><i class="tabbed-list__dropdown-caret"></i>
      <ul>
        <li>Lowest Price</li>
        <li>Prime Shipping</li>
        <li>Highest Rated</li>
      </ul>
    </li>
  </ul>
</div>