<div class="price-block__container">
  <i class="icon--stars"></i>
  <span href="#" class="price-block__price--list">$16.00</span>
  <span href="#" class="price-block__price--buy">$12.00</span>
  <i class="icon--prime"></i>
  <a class="stock--availability">Only 11 left in stock</a>
</div>