<div class="price-block__container">
  <div class="price-block__review">
    <i class="icon--stars"></i>
    <a href="" class="price-block__review-number">(631)</a>
  </div>
  
  <div class="price-block__price">
    <span class="price-block__price--buy">$12.00</span>
    <span class="price-block__price--off">10% Off</span>
  </div>

  <i class="icon--prime"></i>
</div>