<div class="tabbed-list__slat-group">
  <div class="media attribution">
    <a href="#" class="img">
      <img class="tabbed-list__slat-image" src="../images/tabbed-list/bioshock.jpg" alt=""/>
    </a>

    <a href="#" class="tabbed-list__slat-title">Bioshock Infinite by 2K Games</a>
    <p class="tabbed-list__slat-description">Quis prompta nam et. Erat illud cum in, hinc mandamus ne his. Ad vero torquatos definitiones has. Malis ne duo, qui albucius mentitum neglegentur.</p>

    <div class="tabbed-list__slat-group--bottom">
      <%= partial "partials/modal--quick-view" %>
      <%= partial "partials/price-block--simplified" %>
    </div>

  </div>
</div>