/* line 1, /Users/jannhorvath/personal/cuddlefish-new.github.io/source/stylesheets/partials/header.scss */
.header__wrapper {
  width: 100%;
  height: 183px;
  /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(29%,#f6f6f6), color-stop(30.2%,#f6f6f6), color-stop(30.2%,#232f3d), color-stop(82.03%,#232f3d), color-stop(82.03%,rgba(0,0,0,.11)),color-stop(82.8%,rgba(0,0,0,.10)), color-stop(82.8%,#fafafa), color-stop(100%,#fafafa));*/ }

/* line 8, /Users/jannhorvath/personal/cuddlefish-new.github.io/source/stylesheets/partials/header.scss */
.header__wrapper-inner-shadow {
  width: 100%;
  height: 181px;
  /*border-bottom: 1px solid rgba(0,0,0,.1);*/ }

/* line 15, /Users/jannhorvath/personal/cuddlefish-new.github.io/source/stylesheets/partials/header.scss */
.header__image--games {
  margin: 0 auto;
  width: 1283px;
  height: 183px;
  background-image: url("../images/partials/header--games.jpg");
  background-size: cover; }
