@import "globals/variables";


.acs-dhsb-widget {
  min-width: 770px; 
  margin-left: 205px; 
  margin-top: 10px;
  padding: 5px 10px 5px 5px;
}

.acs-dhsb-widget .acsux-hsb-container {
  width: 100%;
  height: 360px;
  margin: 0 auto;
  position: relative;

  text-align: center;

  border: 1px solid black;
}

.acs-dhsb-widget .acsux-menu-wrap {
  width: 100%;
  height: 360px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 25;

  text-align: center;
}

.acs-dhsb-widget .ascux-menu-container {
  width: 770px;
  height: 360px;
  position: relative;
  margin: 0 auto;
}

.acs-dhsb-widget .acsux-menu {
  position: absolute;
  top: 10px;
  left: 50%;
  width: 215px;
  padding-top: 1px;
  margin: 0 0 0 155px;
  list-style: none;

  text-align: left;
  z-index: 50;
  cursor: pointer;
  display: block;
}

.acs-dhsb-widget .acsux-menu li {
  width: 215px;
  margin: 0;
  position: relative;
  float: left;

  text-align: left;

  border-style: solid;
  border-width: 0 1px 1px;
  border-color: #b7b7b7 #aaa #a0a0a0;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .6) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .6) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, .6) inset;
  background: #ececec;
  background: -moz-linear-gradient(top, #f5f5f5, #e3e3e3);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #e3e3e3));
  background: -webkit-linear-gradient(top, #f5f5f5, #e3e3e3);
  background: -o-linear-gradient(top, #f5f5f5, #e3e3e3);
  background: -ms-linear-gradient(top, #f5f5f5, #e3e3e3);
  background: linear-gradient(top, #f5f5f5, #e3e3e3);

  display: block;
}

.acs-dhsb-widget .acsux-menu li:first-child {
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  border-width: 1px;
}

.acs-dhsb-widget .acsux-menu {
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}

.acs-dhsb-widget .acsux-menu .acsux-active {
  background: rgba(255, 255, 255, 0.3);
}

.acs-dhsb-widget .acsux-menu .acsux-active .acsux-inner-menu a {
  color: #333;
}

.acs-dhsb-widget .acsux-menu .acsux-inner-menu a {
  text-decoration: none;
  padding-left: 5px;
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: 13px;
  color: #666;
  line-height: 1.15;
}

.acs-dhsb-widget .acsux-menu .acsux-inner-menu a:hover {
  text-decoration: underline
}

.acs-dhsb-widget .acsux-menu .acsux-inner-menu img {
  position: relative;
  margin-bottom: 10px;
  float: left;
  margin-left: 10px;
  margin-top: 10px;

  border: 1px solid #fff;
}

.acs-dhsb-widget .acsux-menu .acsux-inner-menu div {
  width: 215px;
  position: relative;
  padding-top: 10px;
  padding-left: 5px;
}

.acs-dhsb-widget .acsux-menu .acsux-inner-menu span {
  color: #666;
  margin-left: 52px;

  font-family: arial, sans-serif;
  font-size: 11px;

  display: block;
}

.acs-dhsb-widget .acsux-hero-wrap {
  position: relative;
  top: 0;
  left: 0;
}

.acs-dhsb-widget .acsux-hero {
  position: relative;
  top: 0;
  list-style: none;
  display: block;
}

.acs-dhsb-widget .acsux-hero li {
  height: 360px;
  width: 100%;
  float: left;

  text-align: center;

  display: block;
  display: inline-block;
}

.acs-dhsb-widget .acsux-hero li span {
  display: none;
  visibility: none;
}

.acs-dhsb-widget .acs-dhsb-container {
  width: 100%;
  max-width: 1200px;
  height: 360px;
  margin: 0 auto 24px;
  position: relative;
}

.acs-dhsb-widget .min-width-constraint {
  width: 770px;
  margin-left: -385px;
  position: absolute;
  height: 100%;
  top: 0;
  left: 50%;
}

.acs-dhsb-widget .acsux-hero {
  height: 360px;
  width: 100%;
  vertical-align: top;

  background-color: #fff;
  border: 1px solid #ddd;

  overflow: hidden;
}

.acs-dhsb-widget .acs-dhsb-gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;

  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSI1NSUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4wNSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMzUiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .05) 55%, rgba(0, 0, 0, .35) 100%);
  background: -webkit-gradient(radial, center center, 0, center center, 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(55%, rgba(255, 255, 255, .05)), color-stop(100%, rgba(0, 0, 0, .35)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .05) 55%, rgba(0, 0, 0, .35) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .05) 55%, rgba(0, 0, 0, .35) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .05) 55%, rgba(0, 0, 0, .35) 100%);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .05) 55%, rgba(0, 0, 0, .35) 100%);
}

.acs-dhsb-widget .acs-dhsb-workable-area {
  width: 537px;
  text-align: center;
  position: relative;
  height: 360px;
}

.acs-dhsb-widget .acs-dhsb-text {
  width: 500px;
  padding: 10px 25px;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjgiLz4KICAgIDxzdG9wIG9mZnNldD0iNDUlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuOCIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-linear-gradient(left, rgba(0, 0, 0, .8) 0, rgba(0, 0, 0, .8) 45%, transparent 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, .8)), color-stop(45%, rgba(0, 0, 0, .8)), color-stop(100%, transparent));
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, .8) 0, rgba(0, 0, 0, .8) 45%, transparent 100%);
  background: -o-linear-gradient(left, rgba(0, 0, 0, .8) 0, rgba(0, 0, 0, .8) 45%, transparent 100%);
  background: -ms-linear-gradient(left, rgba(0, 0, 0, .8) 0, rgba(0, 0, 0, .8) 45%, transparent 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, .8) 0, rgba(0, 0, 0, .8) 45%, transparent 100%);
  z-index: 2;
  position: absolute;
  top: 170px;
  left: 0;
}

/* background progress bar*/
.acs-hsb__progress-bar .progress-bar {
  height: 63px;
  background: #F0F0F0;
}
.acs-hsb__progress-bar {
    -webkit-animation: fill_animation 5s;
    animation: myfirst 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes fill_animation {
    from {width: 0%;}
    to {width:100%;} 
}
