<div class="tabbed-list__group tabbed-list__group--block">
  <div class="media attribution">
    <a href="#" class="img">
      <img class="tabbed-list__image tabbed-list__image--block" src="../images/tabbed-list/bioshock.jpg" alt=""/>
    </a>
    <a href="#" class="tabbed-list__title tabbed-list__title--block">Bioshock Infinite by 2K Games</a>
    <%= partial "mobile/partials/price-block" %>
  </div>
</div>